$color-primary: rgb(222, 84, 153)
$color-common: rgb(242, 235, 233)
$color-pink: rgb(238, 221, 221)
$color-secondary: rgb(38, 65, 67)

$height-primary: theme("height[16]")

$height-secondary: theme("height[12]")

$button-width: theme("width[28]")
$button-height-primary: theme("height[12]")
$button-height-secondary: theme("height[8]")

$margin-primary: theme("margin[4]")
$margin-secondary: theme("margin[2]")
$padding-primary: theme("padding[4]")
$component-common-gap: theme("gap[12]")
$component-common-padding: theme("padding[4]")
$component-base-padding: theme("padding[2]")